<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE beans [
    <!ELEMENT beans (com.baima.bean*)>
    <!ELEMENT com.baima.bean (property*)>
    <!ELEMENT property (#PCDATA)>

    <!ATTLIST com.baima.bean id ID #REQUIRED>
    <!ATTLIST com.baima.bean class CDATA #IMPLIED>
    <!ATTLIST property name CDATA #IMPLIED>
    <!ATTLIST property ref IDREF #IMPLIED>
]>

<beans>
    <com.baima.bean id="userBasicDAO" class="com.atguigu.qqzone.dao.impl.UserBasicDAOImpl"/>
    <com.baima.bean id="topicDAO" class="com.atguigu.qqzone.dao.impl.TopicDAOImpl"/>

    <com.baima.bean id="userBasicService" class="com.atguigu.qqzone.service.impl.UserBasicServiceImpl">
        <property name="userBasicDAO" ref="userBasicDAO"/>
    </com.baima.bean>

    <com.baima.bean id="topicService" class="com.atguigu.qqzone.service.impl.TopicServiceImpl">
        <property name="topicDAO" ref="topicDAO"/>
    </com.baima.bean>

    <com.baima.bean id="user" class="com.atguigu.qqzone.controller.UserController">
        <property name="userBasicService" ref="userBasicService"/>
        <property name="topicService" ref="topicService"/>
    </com.baima.bean>
  <com.baima.bean id="page" class="com.atguigu.myssm.myspringmvc.PageController"/>

</beans>