<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <com.baima.bean id="user" class="com.spring.pojo.User">
        <property name="id" value="1"/>
        <property name="username" value="1"/>
        <property name="password">
            <value><![CDATA[user>]]></value>
        </property>
        <property name="age" value="1"/>
        <property name="gender" value="男"/>
        <property name="email" value="1@qq.com"/>
     </com.baima.bean>

    <com.baima.bean id="user2" class="com.spring.pojo.User">
        <constructor-arg name="id" value="2"/>
        <constructor-arg name="username" value="2"/>
        <constructor-arg name="password">
            <value><![CDATA[user2>]]></value>
        </constructor-arg>
        <constructor-arg name="age" value="1"/>
        <constructor-arg name="gender" value="男"/>
        <constructor-arg name="email" value="1@qq.com"/>
    </com.baima.bean>

    <com.baima.bean id="user3" class="com.spring.pojo.User">
        <property name="id" value="3"/>
        <property name="username" value="3"/>
        <property name="password">
            <value><![CDATA[user>]]></value>
        </property>
        <property name="age" value="1"/>
        <property name="gender" value="男"/>
        <property name="email" value="1@qq.com"/>
        <property name="teacherMap">
            <map>
                <entry key="1" value-ref="teacher1"/>
                <entry key="2" value-ref="teacher2"/>
            </map>
        </property>
    </com.baima.bean>

    <com.baima.bean id="user4" class="com.spring.pojo.User">
        <property name="id" value="4"/>
        <property name="username" value="4"/>
        <property name="password">
            <value><![CDATA[user>]]></value>
        </property>
        <property name="age" value="1"/>
        <property name="gender" value="男"/>
        <property name="email" value="1@qq.com"/>
        <property name="teacherMap" ref="teacherMap"/>
    </com.baima.bean>

    <com.baima.bean id="clazz1" class="com.spring.pojo.Clazz">
        <property name="cid" value="1111"/>
        <property name="cname" value="王者"/>
        <property name="userList">
            <list>
                <ref com.baima.bean="user"/>
                <ref com.baima.bean="user2"/>
            </list>
        </property>
    </com.baima.bean>

    <com.baima.bean id="clazz2" class="com.spring.pojo.Clazz">
        <property name="cid" value="1111"/>
        <property name="cname" value="王者"/>
        <property name="userList" ref="userList"/>
    </com.baima.bean>

    <util:list id="userList">
        <ref com.baima.bean="user"/>
        <ref com.baima.bean="user2"/>
    </util:list>

    <com.baima.bean id="teacher1" class="com.spring.pojo.Teacher">
        <property name="tid" value="10010"/>
        <property name="tname" value="铁甲小宝"/>
    </com.baima.bean>

    <com.baima.bean id="teacher2" class="com.spring.pojo.Teacher">
        <property name="tid" value="10086"/>
        <property name="tname" value="蜻蜓队长"/>
    </com.baima.bean>

    <util:map id="teacherMap">
        <entry key="1" value-ref="teacher1"/>
        <entry key="2" value-ref="teacher2"/>
    </util:map>
</beans>